<a href="https://colab.research.google.com/github/SofiaShvedova/ShvedovaSS/blob/main/%D0%A2%D0%B5%D1%81%D1%82_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def double_word(word):
  rez = word + word
  return word+word +str(len(rez))
                        
print(double_word("hello"))
print(double_word("abs"))
print(double_word(""))

hellohello10
absabs6
0

In [ ]:
def combine_guests(guests1,guests2):
    guests = guests1.copy()
    guests.update(guests2)
    return guests
Rores_guests = {"Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = {"David":4, "Nancy":1, "Robert":2,"Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rores_guests,Taylors_guests))

{'Adam': 1, 'Brenda': 3, 'David': 4, 'Jose': 3, 'Charlotte': 2, 'Terry': 1, 'Robert': 2, 'Nancy': 1, 'Samantha': 3, 'Chris': 5}

In [ ]:
def car_listing(car_prices):
  result = ""
  for m in car_prices.keys():
    result += "{0} costs {1} dollars".format(m,car_prices[m]) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta": 13000, "Toyota Prius": 24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [ ]:
Weather = "Rainfall"
print(Weather[:4])

Rain

In [ ]:
def format_address(address_string):
  house_number = 0
  street_name = []
  address = address_string.split()
  for item in address:
    if item.isnumeric():
      house_number = item
    else:
      street_name.append(item)
  return "house number {} on street named {}".format(house_number, " ".join(street_name))

print(format_address("123 Main Street"))
print(format_address("1001 1st Ave"))
print(format_address("55 North Center Drive"))

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [ ]:
def replace_ending(sentence, old, new):
    if sentence.endswith(old):
        return sentence[:-len(old)] + new
    return sentence

print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
print(replace_ending("The weather is nice in May", "may", "april")) 
print(replace_ending("The weather is nice in May", "May", "April"))

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

In [ ]:
colors = ["red","white","blue"]
colors.insert(2,"yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [ ]:
def convert_distante(miles):
  km = miles * 1.6
  result = "{} miles equals {:.1f} km".format(miles,km)
  return result
print(convert_distante(12))

12 miles equals 19.2 km

In [ ]:
def combine_lists(list1,list2):
  new_list = list2
  for i in reversed(range(len(list1))):
    new_list.append(list1[i])
  return new_list
Jamies_list = ["Alice","Cindy","Bobby","Jan","Peter"]
Drews_list = ["Mike","Carol","Greg","Marcia"]
print(combine_lists(Jamies_list,Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [ ]:
def count_letters(text):
    result = {}
    text=text.lower()
    for letter in text:
        if letter.isalpha():
            result[letter] = result.get(letter,0) + 1
        else:
            pass
    return result

print(count_letters("AaBbCc"))
print(count_letters("Math is fun! 2+2=4"))
print(count_letters("This is a sentence."))

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [ ]:
def student_grade(name,grade):
  return "{} получил {}% на экзамене".format(name,grade)
print(student_grade("Reed",80))
print(student_grade("Paige",92))
print(student_grade("Jesse",85))

Reed получил 80% на экзамене
Paige получил 92% на экзамене
Jesse получил 85% на экзамене

In [ ]:
def is_palindrome(input_string):
  new_string = ""
  reverse_string = ""
  for letter in input_string:
    if letter != " ":
      new_string += letter 
      reverse_string = letter + reverse_string
  if new_string.lower() == reverse_string.lower():
      return True
  return False
print(is_palindrome("Never Odd or Even"))
print(is_palindrome("abc"))
print(is_palindrome("kayak"))

True
False
True

In [ ]:
word = "supercalifragilisticexpialidocious"
print(word.index("x"))

21

In [ ]:
def initials(phrase):
  words = phrase.split()
  result = ""
  for word in words:
    result += word[0].upper()
  return result

print(initials('Universal Serial Bus'))
print(initials('Local area network'))
print(initials('Operating system'))

USB
LAN
OS

In [ ]:
def highlight_word(sentence, word):
  return(sentence.replace(word,word.upper()))
print(highlight_word("Have a nice day", "nice"))

Have a NICE day

In [ ]:
def get_word(sentence, n):
  sentence = sentence.split(" ")
  if n <= len(sentence) and n>0:
    return(sentence[n-1])  
  else:
    return ""
print(get_word("This is a lesson about lists", 4))
print(get_word("This is a lesson about lists", -4))
print(get_word("Now we are cooking!", 1))
print(get_word("Now we are cooking!", 5))

lesson

Now

In [ ]:
def first_and_last(message):
  if len(message) == 0 or message[0] == message[-1]:
    return True
  else:
    return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [ ]:
n = int(input())
print(*[i * i for i in range(1, n + 1)])

21
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441